@model RenoRator.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/shared/main_layout.cshtml";
}

<div class="two_column_right middle">
    <div class="content_col_header">
        <h2>New RenoRator User</h2>
    </div>
    <div class="form_container">
        @using (Html.BeginForm()) {
            @Html.ValidationSummary(true)
            <div class="form-row">
                <label>Are you a:</label><br />
                <div class="radio-button-list">
                @{ bool firstRadio = true;
                    foreach (var userType in ViewBag.userTypes) {
                        <div>
                            @if(ViewBag.userTypeID != null) {
                                if(userType.Value == ViewBag.userTypeID) {
                                    @Html.RadioButton("userTypeValue", (string)@userType.Value, true, new { id = "userType_" + userType.Value });
                                } else {
                                    @Html.RadioButton("userTypeValue", (string)@userType.Value, false, new { id = "userType_" + userType.Value });
                                }
                            } else {
                                if (@firstRadio) {
                                    @Html.RadioButton("userTypeValue", (string)@userType.Value, true, new { id = "userType_" + userType.Value });                
                                } else {
                                    @Html.RadioButton("userTypeValue", (string)@userType.Value, false, new { id = "userType_" + userType.Value, @checked = "checked" });
                                }
                                firstRadio = false;
                            }
                            @userType.Text
                        </div>
                    }
                }
                </div>
            </div>
            <div class="form-row">
                <label>First Name:</label>
                @Html.ValidationMessageFor(model => model.fname)
                @Html.EditorFor(model => model.fname)
            </div>
            
            <div class="form-row">
                <label>Last Name:</label>
                @Html.ValidationMessageFor(model => model.lname)
                @Html.EditorFor(model => model.lname)
            </div>
            
            <div class="form-row">
                <label>Company Name:</label>
                @Html.ValidationMessageFor(model => model.company)
                @Html.EditorFor(model => model.company)
            </div>
            
            <div class="form-row">
                <label>Email Address:</label>
                @Html.ValidationMessageFor(model => model.email)
                @Html.EditorFor(model => model.email)
            </div>
            
            <div class="form-row">
                <label>Confirm Email Address:</label>
                @Html.ValidationMessageFor(model => model.emailConfirm)
                @Html.EditorFor(model => model.emailConfirm)
            </div>
            
            <div class="form-row">
                <label>Password:</label>
                @Html.ValidationMessageFor(model => model.password)
                @Html.PasswordFor(model => model.password)
            </div>
            <div class="form-row">
                <label>Confirm Password:</label>
                @Html.ValidationMessageFor(model => model.passwordConfirm)
                @Html.PasswordFor(model => model.passwordConfirm)
            </div>
            <p>
                <input type="submit" value="Register" class="orange_btn" />
            </p>
        }
    </div>
</div>